<div style ="font-family:Trebuchet MS; background-color : #f8f0fa; border-left: 5px solid #1b4332; padding: 12px; border-radius: 50px 50px;">
    <h2 style="color: #1b4332; font-size: 48px; text-align: center;">
        <b>Functions</b>
        <hr style="border-top: 2px solid #264653;">
    </h2>
    <h3 style="font-size: 14px; color: #264653; text-align: left; "><strong> I hope this is very helpful. let's started .ðŸ˜ŠðŸŒŸ</strong></h3>
</div>

### function is a block of code that performs a specific task. it help in organizing code, reusing code, and improving readability

#### syntax
```python
def  function_name(parameters):
    # code block
    return expression
```

#### function call
```python
function_name(arguments)
```

In [2]:
# example
def greet(name):
    return "Hello " + name

print(greet("John"))

Hello John

In [5]:
# function with default argument

def greet(name="hassane"):
    return "Hello " + name

print(greet())
print(greet("mohamed"))

Hello hassane
Hello mohamed

In [6]:
# function with multiple arguments

def greet(name, age = 25):
    return "Hello " + name + " you are " + str(age) + " years old"

print(greet("Hassane", 30))
print(greet("Hassane"))

Hello Hassane you are 30 years old
Hello Hassane you are 25 years old

In [10]:
# positional arguments

def print_names(*args):
    for name in args:
        print("hello Mr. " + str(name))

print_names("Hassane", "Mohamed", "Ali")

hello Mr. Hassane
hello Mr. Mohamed
hello Mr. Ali

In [12]:
# keywords arguments

def print_names(**kwargs):
    for key, value in kwargs.items():
        print(key + " : " + value)

print_names(name="Hassane", age="20", country="Morocco")

name : Hassane
age : 20
country : Morocco

#### lambda functions are small anonymous functions defined using the `lambda` keyword. They can have any number of arguments but only one expression. they used for short operations or as arguments to higher-order functions 

```python
# syntax:
lambda arguments : expression
```

In [14]:
# normal function 
def addition1(x, y):
    return x + y

# lambda function
addition2 = lambda x, y: x + y

print(addition1(2, 3))
print(addition2(2, 3))

5
5

In [15]:
def even (x):
    if x % 2 == 0:
        return x,True

    return x,False

print(even(2))

# lambda function
even = lambda x: (x, True) if x % 2 == 0 else (x, False)

(2, True)

#### map function: apply a function to all the items in an input_list
```python
map(function_to_apply, list_of_inputs)

In [21]:

square = lambda x: x ** 2

numbers = [1, 2, 3, 4, 5]
squared = map(square, numbers)
# print(square(numbers)) : TypeError: can't multiply sequence by non-int of type 'list'
print(list(squared))

[1, 4, 9, 16, 25]

In [22]:
words = ["apple", "banana", "cherry"]
upper = list(map(str.upper, words))
print(upper)

['APPLE', 'BANANA', 'CHERRY']

#### filter function: filter(function, iterable) : return an iterator were the items are filtered through a function to test if the item is accepted or not

In [ ]:
# example iterator vs iterable
# iterable : list, tuple, set, dictionary
numbers = [1, 2, 3, 4, 5]
# iterator: map, filter, zip
squared = map(lambda x: x ** 2, numbers)

In [24]:
# example filter
numbers = [1, 2, 3, 4, 5]
even = filter(lambda x: x % 2 == 0, numbers)
print(list(even),type(even))

[2, 4] <class 'filter'>

In [29]:
ages = [20, 25, 30]
age_greater_20 = lambda x : x>20
greater = filter(age_greater_20, ages)
print(list(greater))

[25, 30]

In [34]:
# zip function: combine two lists into a list of tuples
names = ["Hassane", "Mohamed", "Ali"]
ages = [20, 25, 30]

zipped = zip(names, ages)
print(list(zipped))

[('Hassane', 20), ('Mohamed', 25), ('Ali', 30)]