<div style ="font-family:Trebuchet MS; background-color : #f8f0fa; border-left: 5px solid #1b4332; padding: 12px; border-radius: 50px 50px;">
    <h2 style="color: #1b4332; font-size: 48px; text-align: center;">
        <b>SQLite database with python</b>
        <hr style="border-top: 2px solid #264653;">
    </h2>
    <h3 style="font-size: 14px; color: #264653; text-align: left; "><strong> I hope this is very helpful. let's started .ðŸ˜ŠðŸŒŸ</strong></h3>
</div>

#### sqlite is a built-in module in python3 so no need to install it separately we can use it to create a database and perform operations on it like 
- create a table 
- insert data into a table
- select data from a table
- update data in a table and more

In [36]:
import sqlite3

In [37]:
# connect to an sqlite database
connection = sqlite3.connect('example.db')
connection

In [38]:
# cursor is used to interact with the database
cursor = connection.cursor()
cursor

In [39]:
# first let's create a table 
cursor.execute(''' 
CREATE TABLE IF NOT EXISTS users (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                age INTEGER NOT NULL
)
''')

# commit the changes 
connection.commit()

In [40]:
# insert some data
cursor.execute('''
INSERT INTO users (name, age) VALUES ('Alice', 25),
                                        ('Bob', 30),
                                        ('Charlie', 35)                             
''')

# commit the changes
connection.commit()

In [41]:
# to select data from the table

cursor.execute('SELECT * FROM users')
# fetchall() returns a list of tuples
users = cursor.fetchall()
users

[(1, 'Alice', 25), (2, 'Bob', 30), (3, 'Charlie', 35)]

In [42]:
# delete all the data from the table
cursor.execute('DELETE FROM users')
connection.commit()

In [43]:
# delete a row from the table
cursor.execute('DELETE FROM users WHERE name = "Alice"')
connection.commit()

In [44]:
# create a new table
cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                price REAL NOT NULL
)
''')

# create a list of tuples

products = [
    ('Apple', 1.0),
    ('Banana', 0.5),
    ('Cherry', 2.0)
]

# insert multiple rows into the table
cursor.executemany('INSERT INTO products (name, price) VALUES (?, ?)', products)

# commit the changes
connection.commit()

In [45]:
# select all the data from the table
cursor.execute('SELECT * FROM products')
products = cursor.fetchall()
products

[(1, 'Apple', 1.0), (2, 'Banana', 0.5), (3, 'Cherry', 2.0)]